* {
    box-sizing: border-box;

}

body {
    overflow: hidden;
    width: 100vw;
    margin: 0;

}

.page-actions-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    height: 2rem;
    background-color: #2d3436;
}

.cellprop-actions-cont select {
    margin-top: 0.9px;
    margin-right: 0.9px;
    width: 9rem;
    height: 1.5rem;
    font-size: 1rem;
    outline: none;
    border: none;

}

.cellprop-actions-cont input {
    /* margin-top: 1rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
    outline: none;
    border: none;

}

.page-action {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: #f5f6fa;
    margin-left: 1rem;
}

.cellprop-actions-cont .material-icons {
    cursor:pointer;
    margin: 1rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
}

.sheet-actions-cont .material-icons {

    margin: 1rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
}

.cellprop-actions-cont {
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: #353b48;
}

.formula-actions-cont {
    height: 2rem;
    background-color: #dcdde1;
}

.sheet-actions-cont {
    position: sticky;
    bottom:0rem;
    z-index: 12;
    display: flex;
    height: 2rem;
    align-items: center;
    background-color: #2d3436;
}
.sheet-add-icon
{
    height: 3rem;
    display: flex;
    align-self: center;
    cursor:pointer;
}

.sheets-folder-cont {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    height: 1.5rem;
    /* top:-20px; */
    /* align-items: center; */
    text-decoration: underline;
    background-color: #2d3436;
    color:#f5f6fa;
    display: relative;
}
.sheet-folder{
    margin-left:0.5rem;
    height:1rem;
    cursor: pointer;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* text-align: center; */
}



.formula-actions-cont {
    display: flex;
    align-items: center;

}

.formula-actions-cont .address-bar {

    /* margin-top: 2px; */
    margin-left: 1rem;
    height: 1.5rem;
    width: 5rem;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    border: none;
}

.formula-actions-cont img {
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 2px;
    /* size: 2rem; */
    font-size: 2rem;
}

.formula-actions-cont .formula-bar {

    /* margin-top: 2px; */
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    height: 1.5rem;
    width: 100vw;
    outline: none;
    border: none;
}


.dummy-box {

    background-color: #f5f6fa;
    /* background-color: red; */

    position: fixed;
    top: 6rem;
    left: 0rem;
    z-index: 5;



    height: 2rem;
    width: 2rem;
}

.row-name-container {
    position: sticky;
    z-index: 4;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;

    left: 0rem;
    top: 26rem;
    width: 2rem;


}

.row-name-container .col-boxes {

    text-align: center;

    font-size: 1rem;
    color: #a4b0be;
    padding-top: 0.4rem;
    /* align-items: center; */
    /* justify-self: center; */
    background-color: #f5f6fa;
    height: 2rem;
    width: 2rem;


    border: 0.1px solid #ced6e0;
}



.header {
    position: sticky;
    top: 0;
    z-index: 100;

}

.col-name-container {
    /* a b c d  */
    position: sticky;
    top: 0.2px;
    left: 2px;

    display: flex;
    flex-direction: row;
    z-index: 4;



    background-color: #f5f6fa;
}

.col-name-container .row-boxes {
    /* a b c d  */
    width: 6rem;
    height: 2rem;
    text-align: center;
    /* text-justify: distribute-all-lines; */
    padding-top: 0.5rem;
    /* align-items: center; */
    font-size: 1rem;
    color: #a4b0be;
    /* height: 10px; */

    background-color: #f5f6fa;

    border: 0.1px solid #ced6e0;
}

.grid-cont {

    /* height: calc(100vh - 2.4rem); */
    overflow: scroll;

    position: relative;
    width: 100vw;
    height: calc(100vh - 18vh);
    top: 0rem;
    left: 0rem;


}


.cells-container {
    /* holds the whole table */

    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0rem;
    left: 2rem;
    background-color: #f5f6fa;
}

.cells-container .row-cell {
    /* its cell itself */
    width: 6rem;
    height: 2rem;
    /* text-align: center; */
    /* font-family: 'Quicksand', sans-serif; */
    color: #2d3436;

    outline: none;
    /* text-align: justify; */
    font-size: 24x;
    background-color:transparent;
    border: 0.1px solid rgb(206, 214, 224);
}

.cells-container .data-row {
    /* its a row the contain cells */

    background-color: #f5f6fa;

    /* text-align: center; */
    display: flex;
    flex-direction: row;
    /* font-size: 5px; */
    color: #a4b0be;
    height: 2rem;
    /* padding-left: 0; */
    background-color: #f5f6fa;

}
.color-prop
{
    position: relative;
}
.color-prop >input{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
}