* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    padding: 0;
    /* width:100%; */
    margin: 0;
}

.page-actions-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    height: 0.6rem;
    background-color: #2d3436;
}
.cellprop-actions-cont  select{
    margin-top:0.9px;
    margin-right:0.9px;
    width: 11%;
    height: 8px;
    font-size: 6px;
    outline: none;
    border: none;
    /* border-radius: 7%; */
}
.cellprop-actions-cont  input{
    margin-top:0.9px;
    margin-right:0.9px;
    width: 6%;
    height: 8px;
    font-size: 6px;
    outline: none;
    border: none;
    /* border-radius: 7%; */
}
.page-action {
    font-family: 'Quicksand', sans-serif;
    font-size: 3%;
    color: #f5f6fa;
    margin-left: 4px;
}

.cellprop-actions-cont .material-icons {
    /* margin-left: 2px; */
    margin: 1px;
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
    display: flex;
}
.sheet-actions-cont .material-icons {
    /* margin-left: 2px; */
    margin: 1px;
    font-size: 5px;
    color: rgba(255, 255, 255, 1);
    display: flex;
}

.cellprop-actions-cont {
    display: flex;

    height: 0.6rem;
    background-color:#353b48;
}

.formula-actions-cont {
    height: 0.6rem;
    background-color: #dcdde1;
}

.sheet-actions-cont {
    position: sticky;
    bottom:0;
    display:flex;
    height: 0.6rem;
    background-color: #2d3436;
}

.grid-cont {
    height: calc(100vh - 2.4rem);

}
.sheets-folder-cont{
    display: flex;
    font-size: 7px;
    
    height:90%;
    /* width:3rem; */
    text-decoration: underline;
    background-color: #f5f6fa;
    display:relative;
}
.sheets-folder-cont .sheets
{
    margin-left:3px;
    margin-right:3px;
}
.formula-actions-cont{
    display: flex;
    
}
.formula-actions-cont .address-bar{
    /* margin: 0; */
    margin-top:2px;
    margin-left:7px;
    height:0.4rem;
    width:6%;
    outline: none;
    border: none;
}
.formula-actions-cont img{
    margin-top:2px;
    margin-left:7px;
    margin-right:2px;
}
.formula-actions-cont .formula-bar{
    /* margin: 0; */
    margin-top:2px;
    margin-left:7px;
    font-size: 5px;
    height:0.4rem;
    width:88%;
    outline: none;
    border: none;
}
.grid-cont
{
    /* width: 700px; Set the desired width */
    /* height: 700px; Set the desired height */
    overflow: auto;/* Enable scrollbars when necessary*/
    display:flex;
    flex-direction:row;
    /* overflow-y: scroll; */
}
.dummy-box{
    position:sticky;
    background-color:#f5f6fa;
    top:0px;
    /* z-index: 100; */
    height:8px;
    width:8px;
}
.col-boxes
{
   text-align: center;
   /* align-items: center; */
   /* justify-content: center; */
    font-size: 5px;
    color:#a4b0be;
    padding: 6%;
    padding-top: 0;
    background-color: #f5f6fa;
       height:8px;
    width:8px;
    border: 0.1px solid #ced6e0;
}
.row-name-container{
    /* to contain numbering */
    position: sticky;
    background-color: #f5f6fa;
    /* width: 8px; */
    height: 800px;
    /* position: absolute; */
    /* top:6.7%; */

}
.header{
    position:sticky;
    top:0;

}
.col-name-container{
    /* position: sticky; */
    display: flex;
    left:17%;
    height:8px;
    /* width:1000px; */
    background-color:#f5f6fa;
}
.col-name-container .row-boxes{
 
    width:20px;
    background-color: #353b48;
    margin: 0.1px;
}
.row-boxes
{
   text-align: center;
   /* align-items: center; */
   /* justify-content: center; */
    font-size: 5px;
    color:#a4b0be;
    /* padding: 6%; */
    padding-left: 0;
    background-color: #f5f6fa;
       /* height:8px; */
    /* width:8px; */
    border: 0.1px solid #ced6e0;
}
