* {
    box-sizing: border-box;
   
}

body {
    overflow: hidden;
    width: 100%;
    margin: 0;

}

.page-actions-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    height: 0.6rem;
    background-color: #2d3436;
}

.cellprop-actions-cont select {
    margin-top: 0.9px;
    margin-right: 0.9px;
    width: 11%;
    height: 8px;
    font-size: 6px;
    outline: none;
    border: none;

}

.cellprop-actions-cont input {
    margin-top: 0.9px;
    margin-right: 0.9px;
    width: 6%;
    height: 8px;
    font-size: 6px;
    outline: none;
    border: none;

}

.page-action {
    font-family: 'Quicksand', sans-serif;
    font-size: 3%;
    color: #f5f6fa;
    margin-left: 4px;
}

.cellprop-actions-cont .material-icons {

    margin: 1px;
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
    display: flex;
}

.sheet-actions-cont .material-icons {

    margin: 1px;
    font-size: 5px;
    color: rgba(255, 255, 255, 1);
    display: flex;
}

.cellprop-actions-cont {
    display: flex;

    height: 0.6rem;
    background-color: #353b48;
}

.formula-actions-cont {
    height: 0.6rem;
    background-color: #dcdde1;
}

.sheet-actions-cont {
    position: sticky;
    bottom: 0;
    display: flex;
    height: 0.6rem;
    background-color: #2d3436;
}

.sheets-folder-cont {
    display: flex;
    font-size: 7px;

    height: 90%;
    
    text-decoration: underline;
    background-color: #f5f6fa;
    display: relative;
}

.sheets-folder-cont .sheets {
    margin-left: 3px;
    margin-right: 3px;
}

.formula-actions-cont {
    display: flex;

}

.formula-actions-cont .address-bar {

    margin-top: 2px;
    margin-left: 7px;
    height: 0.4rem;
    width: 6%;
    outline: none;
    font-size: 5px;
    text-align: center;
    border: none;
}

.formula-actions-cont img {
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 2px;
}

.formula-actions-cont .formula-bar {

    margin-top: 2px;
    margin-left: 7px;
    font-size: 5px;
    height: 0.4rem;
    width: 88%;
    outline: none;
    border: none;
}


.dummy-box {

    background-color: #f5f6fa;
 
    position: fixed;
    top: 29px;
    left: 0px;
    z-index: 5;
   
 

    height: 9.4px;
    width: 9.7px;
}

.row-name-container {
    position: sticky;
    z-index: 4;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    
    left: 0px;
    top:40px;
    width: fit-content;


}

.row-name-container .col-boxes {

    text-align: center;

    font-size: 5px;
    color: #a4b0be;

    background-color: #f5f6fa;
    height: 10px;
    width: 10px;


    border: 0.1px solid #ced6e0;
}



.header {
    position: sticky;
    top: 0;
    z-index: 100;

}

.col-name-container {
    /* a b c d  */
    position: sticky;
    top: 0.2px;
    left:2px;

    display: flex;
    flex-direction: row;
    z-index: 4;



    background-color: #f5f6fa;
}

.col-name-container .row-boxes {
    /* a b c d  */
    width: 30px;
    text-align: center;
    padding-top: 2px;
    align-items: center;
    font-size: 5px;
    color: #a4b0be;
    height: 10px;

    background-color: #f5f6fa;

    border: 0.1px solid #ced6e0;
}

.grid-cont {

    height: calc(100vh - 2.4rem);
    overflow: scroll;

    width: 100vw;
    height: calc(100vh- 2.6rem);
    top: 0px;

    position: relative;

}


.cells-container {
    /* holds the whole table */
  
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 9px;



    background-color: #f5f6fa;

}

.cells-container .row-cell {
    /* its cell itself */
    width: 30px;
    height: 10px;
    text-align: center;
    font-size: 5px;
    color: #2d3436;
    outline: none;
    text-align: center;
    font-size: 7px;
    background-color: rgb(245, 246, 250);
    border: 0.1px solid rgb(206, 214, 224);
}

.cells-container .data-row {
    /* its a row the contain cells */

    background-color: #f5f6fa;

    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 5px;
    color: #a4b0be;
    height: 1;
    padding-left: 0;
    background-color: #f5f6fa;

}